body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: #4D6A6D;
}

nav { margin-top: 50px; margin-right:10%}

.navigation ul li {
    font-style: normal;
    font-size: 20px;
    line-height: 21px;
    text-align: right;
    list-style-type: none;
    display:inline;
    float:right;
    margin-right:15px;
    margin-left:15px;
}

a { text-decoration:none; color: #C9ADA1; }
a:hover { color:#EAE0CC; font-style:italic; transition: 0.2s ease;}

.title {
    font-style: italic;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #C9ADA1;
}

#hi {
    margin-top: 70px;
    margin-bottom:60px;
    margin-left:-15%;
    text-align:center;
}

img { 
    width: 27%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fas {
    font-size:50px;
    color:#C9ADA1;
    padding:10px;
}

/*
.arrow {
    border: solid #C9ADA1;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-right: auto;
    margin-top:10%;
}
*/

#here { 
    font-style: italic;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #C9ADA1;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 16%;

}

.title2 {
    font-style: italic;
    font-size: 30px;
    line-height: 36px;
    text-align: right;
    color: #C9ADA1;
    margin-right: 65%;
}

.title3 {
    font-style: italic;
    font-size: 30px;
    line-height: 36px;
    text-align: left;
    color: #C9ADA1;
    margin-left: 40%;
}

.description {
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #EAE0CC;
    text-align: left;
    margin-left: 40%;
    margin-right:20%;
    margin-top:-1%;

}

#more {margin-top: 6%; margin-left:auto; margin-right:auto;}

footer {
    font-style: italic;
    font-size: 17px;
    line-height: 24px;
    color: #C9ADA1;
    margin-bottom: 6%;
    margin-top: 6%;
    margin-left: 10%;
}